.shop {
    margin-top: 140px;

    &__image {
        width: 377px;
        height: 380px;
        border-radius: 8px;
        cursor: pointer;
    }

    &__group {
        display: flex;
        justify-content: space-around;
    }

    &__group-2 {
        display: flex;
        justify-content: space-around;
    }

    &__header {
        font-size: 33px;
        padding-bottom: 20px;
        padding-left: 130px;
    }

    &__header1 {
        font-size: 20px;
        padding-bottom: 20px;
        color: $price-gold;
        padding-right: 130px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 760px) {
  .shop {
    &__group,
    &__group-2 {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &__image {
      width: 280px;
      height: auto;
      max-height: 280px;
    }

    &__header {
      padding-left: 20px;
      font-size: 28px;
    }

    &__header1 {
      padding-right: 20px;
    }
  }
}

@media (min-width: 780px) {
  .shop {
    &__group,
    &__group-2 {
      justify-content: space-around;
      flex-wrap: nowrap;
    }
  }
}